/* -------------------------  Minimalistic Login Page -------------------------  */

/* Narrow the login form */
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22rem;
}

#loginPage .emby-input {
  border-radius:.5rem;
  padding: .5em .25em;
}

#loginPage .emby-button{
  border-radius:.5rem;
}

/* Hide "please login" text, margin is to prevent login form moving too far up */
#loginPage h1 {
  display: none;
}
#loginPage .padded-left.padded-right.padded-bottom-page {
  margin-top: 50px;
}

/* Hide "manual" and "forgot" buttons */
#loginPage .raised.cancel.block.btnManual.emby-button {
  display: none;
}
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
  display: none;
}


/*------------------------- BG Blur ------------------------------------------*/


.backgroundContainer.withBackdrop {
   background: url(https://i.imgur.com/o144ltn.png) !important;
}
 
.backdropContainer {
    -webkit-backface-visibility: visible;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: visible;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    -webkit-filter: blur(15px) !important;
    -moz-filter: blur(15px) !important;
    -o-filter: blur(15px) !important;
    -ms-filter: blur(15px) !important;
    filter: blur(15px) !important;
}
/*--------------------Translucent Header------------------------------------------*/
.skinHeader.skinHeader-withBackground.headroom.noHomeButtonHeader {
    background:none; 
    background-color:rgba(40, 40, 40, .75);
    backdrop-filter: blur(16px);
   -webkit-backdrop-filter: blur(16px);
}

.skinHeader.skinHeader-withBackground.headroom {
    background:none; 
    background-color:rgba(40, 40, 40, .75);
    backdrop-filter: blur(16px);
   -webkit-backdrop-filter: blur(16px);
}
